
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>

<a class="edit_25028" href="/books/25028/edit">Edit</a> |
<%= link_to 'Back', books_path %>